Website/SSH/Security System/Connected Services/SecurityService/LiveSSH.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveSSH" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveSSH" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DB_Alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlartMethod" type="xs:int" />
      <xs:element minOccurs="0" name="AlertID" type="xs:int" />
      <xs:element minOccurs="0" name="DB_House" nillable="true" type="tns:DB_House" />
      <xs:element minOccurs="0" name="DB_User" nillable="true" type="tns:DB_User" />
      <xs:element minOccurs="0" name="DB_User1" nillable="true" type="tns:DB_User" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="IsFalseAlarm" type="xs:int" />
      <xs:element minOccurs="0" name="OccupantID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespondentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_Alert" nillable="true" type="tns:DB_Alert" />
  <xs:complexType name="DB_House">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmStatus" type="xs:int" />
      <xs:element minOccurs="0" name="DB_Addresses" nillable="true" type="tns:ArrayOfDB_Address" />
      <xs:element minOccurs="0" name="DB_Alerts" nillable="true" type="tns:ArrayOfDB_Alert" />
      <xs:element minOccurs="0" name="DB_Cases" nillable="true" type="tns:ArrayOfDB_Case" />
      <xs:element minOccurs="0" name="DB_HouseOwner" nillable="true" type="tns:DB_HouseOwner" />
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_House" nillable="true" type="tns:DB_House" />
  <xs:complexType name="ArrayOfDB_Address">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DB_Address" nillable="true" type="tns:DB_Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDB_Address" nillable="true" type="tns:ArrayOfDB_Address" />
  <xs:complexType name="DB_Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DB_House" nillable="true" type="tns:DB_House" />
      <xs:element minOccurs="0" name="HouseID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Lattitute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_Address" nillable="true" type="tns:DB_Address" />
  <xs:complexType name="ArrayOfDB_Alert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DB_Alert" nillable="true" type="tns:DB_Alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDB_Alert" nillable="true" type="tns:ArrayOfDB_Alert" />
  <xs:complexType name="ArrayOfDB_Case">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DB_Case" nillable="true" type="tns:DB_Case" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDB_Case" nillable="true" type="tns:ArrayOfDB_Case" />
  <xs:complexType name="DB_Case">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="DB_House" nillable="true" type="tns:DB_House" />
      <xs:element minOccurs="0" name="DB_Respondent" nillable="true" type="tns:DB_Respondent" />
      <xs:element minOccurs="0" name="DB_User" nillable="true" type="tns:DB_User" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="ReposponseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResolutionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RespondentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_Case" nillable="true" type="tns:DB_Case" />
  <xs:complexType name="DB_Respondent">
    <xs:sequence>
      <xs:element minOccurs="0" name="DB_Cases" nillable="true" type="tns:ArrayOfDB_Case" />
      <xs:element minOccurs="0" name="DB_User" nillable="true" type="tns:DB_User" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLattitute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLongitute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_Respondent" nillable="true" type="tns:DB_Respondent" />
  <xs:complexType name="DB_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="DB_Alerts" nillable="true" type="tns:ArrayOfDB_Alert" />
      <xs:element minOccurs="0" name="DB_Alerts1" nillable="true" type="tns:ArrayOfDB_Alert" />
      <xs:element minOccurs="0" name="DB_Cases" nillable="true" type="tns:ArrayOfDB_Case" />
      <xs:element minOccurs="0" name="DB_HouseOccupant" nillable="true" type="tns:DB_HouseOccupant" />
      <xs:element minOccurs="0" name="DB_HouseOwner" nillable="true" type="tns:DB_HouseOwner" />
      <xs:element minOccurs="0" name="DB_Respondent" nillable="true" type="tns:DB_Respondent" />
      <xs:element minOccurs="0" name="DateRegistered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_User" nillable="true" type="tns:DB_User" />
  <xs:complexType name="DB_HouseOccupant">
    <xs:sequence>
      <xs:element minOccurs="0" name="DB_HouseOwner" nillable="true" type="tns:DB_HouseOwner" />
      <xs:element minOccurs="0" name="DB_User" nillable="true" type="tns:DB_User" />
      <xs:element minOccurs="0" name="HouseOwnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_HouseOccupant" nillable="true" type="tns:DB_HouseOccupant" />
  <xs:complexType name="DB_HouseOwner">
    <xs:sequence>
      <xs:element minOccurs="0" name="DB_HouseOccupants" nillable="true" type="tns:ArrayOfDB_HouseOccupant" />
      <xs:element minOccurs="0" name="DB_Houses" nillable="true" type="tns:ArrayOfDB_House" />
      <xs:element minOccurs="0" name="DB_Package" nillable="true" type="tns:DB_Package" />
      <xs:element minOccurs="0" name="DB_User" nillable="true" type="tns:DB_User" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_HouseOwner" nillable="true" type="tns:DB_HouseOwner" />
  <xs:complexType name="ArrayOfDB_HouseOccupant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DB_HouseOccupant" nillable="true" type="tns:DB_HouseOccupant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDB_HouseOccupant" nillable="true" type="tns:ArrayOfDB_HouseOccupant" />
  <xs:complexType name="ArrayOfDB_House">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DB_House" nillable="true" type="tns:DB_House" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDB_House" nillable="true" type="tns:ArrayOfDB_House" />
  <xs:complexType name="DB_Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="DB_HouseOwners" nillable="true" type="tns:ArrayOfDB_HouseOwner" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DB_Package" nillable="true" type="tns:DB_Package" />
  <xs:complexType name="ArrayOfDB_HouseOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DB_HouseOwner" nillable="true" type="tns:DB_HouseOwner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDB_HouseOwner" nillable="true" type="tns:ArrayOfDB_HouseOwner" />
</xs:schema>