Website/SSH/Security System/Connected Services/SecurityService/LiveSSH.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveSSH.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveSSH.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LiveSSH" />
  <xs:complexType name="GeoLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lattitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoLocation" nillable="true" type="tns:GeoLocation" />
  <xs:complexType name="ArrayOfAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alert" nillable="true" type="tns:Alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlert" nillable="true" type="tns:ArrayOfAlert" />
  <xs:complexType name="Alert">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/LiveSSH" base="q1:DB_Alert">
        <xs:sequence>
          <xs:element minOccurs="0" name="StringDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Alert" nillable="true" type="tns:Alert" />
  <xs:complexType name="ArrayOfStringDateCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringDateCase" nillable="true" type="tns:StringDateCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStringDateCase" nillable="true" type="tns:ArrayOfStringDateCase" />
  <xs:complexType name="StringDateCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullnames" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringDateCase" nillable="true" type="tns:StringDateCase" />
  <xs:complexType name="ArrayOfGeoLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeoLocation" nillable="true" type="tns:GeoLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeoLocation" nillable="true" type="tns:ArrayOfGeoLocation" />
</xs:schema>