Website/SSH/Security System/Connected Services/SecurityService/SSH_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSH_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSH_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SSH_Service.Models" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRegistered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmStatus" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSH_Service.Models" minOccurs="0" name="HouseAddress" nillable="true" type="q1:Address" />
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
  <xs:complexType name="ArrayOfCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Case" nillable="true" type="tns:Case" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCase" nillable="true" type="tns:ArrayOfCase" />
  <xs:complexType name="Case">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseID" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="ReposponseTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResolutionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RespondentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Case" nillable="true" type="tns:Case" />
</xs:schema>