Website/HSS_Website/HSS_Website/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TempServe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TempServe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseOccupant" nillable="true" type="tns:HouseOccupant" />
      <xs:element minOccurs="0" name="HouseOwner" nillable="true" type="tns:HouseOwner" />
      <xs:element minOccurs="0" name="ID_Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Respondent" nillable="true" type="tns:Respondent" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="tns:Table" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="HouseOccupant">
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseOwner" type="xs:int" />
      <xs:element minOccurs="0" name="HouseOwner1" nillable="true" type="tns:HouseOwner" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseOccupant" nillable="true" type="tns:HouseOccupant" />
  <xs:complexType name="HouseOwner">
    <xs:sequence>
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="HouseOccupants" nillable="true" type="tns:ArrayOfHouseOccupant" />
      <xs:element minOccurs="0" name="Package" nillable="true" type="tns:Package" />
      <xs:element minOccurs="0" name="PackageID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseOwner" nillable="true" type="tns:HouseOwner" />
  <xs:complexType name="ArrayOfHouseOccupant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseOccupant" nillable="true" type="tns:HouseOccupant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseOccupant" nillable="true" type="tns:ArrayOfHouseOccupant" />
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseOwners" nillable="true" type="tns:ArrayOfHouseOwner" />
      <xs:element minOccurs="0" name="PackageID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:complexType name="ArrayOfHouseOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseOwner" nillable="true" type="tns:HouseOwner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseOwner" nillable="true" type="tns:ArrayOfHouseOwner" />
  <xs:complexType name="Respondent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lattitute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respondent" nillable="true" type="tns:Respondent" />
  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lattitute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseID" type="xs:int" />
      <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Lattitute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitute" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Users">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
</xs:schema>