Website/HSS_Website/HSS_Website/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60347/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60347/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60347/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TempServe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetNearestRespondent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestRespondent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNearestRespondent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNearestRespondentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDistanceBetweenPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceBetweenPoints" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDistanceBetweenPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceBetweenPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHouseOccupants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseOccupants" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHouseOccupants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseOccupantsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddHouseOccupant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHouseOccupant" />
  </wsdl:message>
  <wsdl:message name="IService1_AddHouseOccupant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHouseOccupantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveHouseOccupant_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHouseOccupant" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveHouseOccupant_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHouseOccupantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPackage" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetNearestRespondent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNearestRespondent" message="tns:IService1_GetNearestRespondent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNearestRespondentResponse" message="tns:IService1_GetNearestRespondent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistanceBetweenPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDistanceBetweenPoints" message="tns:IService1_GetDistanceBetweenPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDistanceBetweenPointsResponse" message="tns:IService1_GetDistanceBetweenPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHouse" message="tns:IService1_GetHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHouseResponse" message="tns:IService1_GetHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseOccupants">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHouseOccupants" message="tns:IService1_GetHouseOccupants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHouseOccupantsResponse" message="tns:IService1_GetHouseOccupants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHouseOccupant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddHouseOccupant" message="tns:IService1_AddHouseOccupant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddHouseOccupantResponse" message="tns:IService1_AddHouseOccupant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveHouseOccupant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveHouseOccupant" message="tns:IService1_RemoveHouseOccupant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveHouseOccupantResponse" message="tns:IService1_RemoveHouseOccupant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPackage" message="tns:IService1_AddPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPackageResponse" message="tns:IService1_AddPackage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNearestRespondent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNearestRespondent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistanceBetweenPoints">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDistanceBetweenPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouse">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseOccupants">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHouseOccupants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHouseOccupant">
      <soap:operation soapAction="http://tempuri.org/IService1/AddHouseOccupant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveHouseOccupant">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveHouseOccupant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPackage">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60347/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>